.elkit-tooltip {
    --eltip-border-radius: 10px;
    --eltip-arrow-position: 50%;
    --eltip-arrow-size: 12px;
    --eltip-background-color: #37474F;
    --eltip-color: #FFFFFF;
}

.elkit-tooltip {
    position: fixed;
    background: var(--eltip-background-color);
    color: var(--eltip-color);
    padding: 0.5rem;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.1s ease-in-out;
    border-radius: var(--eltip-border-radius);
}

.elkit-tooltip::after {
    width: var(--eltip-arrow-size);
    height: var(--eltip-arrow-size);
    position: absolute;
    content: '';
    background: var(--eltip-background-color);
}

.elkit-tooltip-top::after {
    bottom: calc(-1 * var(--eltip-arrow-size) * 0.8);
    left: 50%;
    clip-path: polygon(0 0, var(--eltip-arrow-position) 100%, 100% 0);
    transform: translateX(-50%);
}

.elkit-tooltip-bottom::after {
    top: calc(-1 * var(--eltip-arrow-size) * 0.8);
    left: 50%;
    clip-path: polygon(0 100%, var(--eltip-arrow-position) 0, 100% 100%);
    transform: translateX(-50%);
}

.elkit-tooltip-right::after {
    left: calc(-1 * var(--eltip-arrow-size) * 0.8);
    top: 50%;
    clip-path: polygon(0 var(--eltip-arrow-position), 100% 0, 100% 100%);
    transform: translateY(-50%);
}

.elkit-tooltip-left::after {
    right: calc(-1 * var(--eltip-arrow-size) * 0.8);
    top: 50%;
    clip-path: polygon(100% var(--eltip-arrow-position), 0 0, 0 100%);
    transform: translateY(-50%);
}

.elkit-tooltip-container {
    position: absolute;
}

.elkit-tooltip.active-tooltip {
    opacity: 1;
}